body {
	height: 100%;
	font-family: "Muli", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
nav{
	height: 50px;
}
#hop {
		background: #fc00ff; /* fallback for old browsers */
  		background: -webkit-linear-gradient(to right, #fc00ff, #00dbde); /* Chrome 10-25, Safari 5.1-6 */
  		background: linear-gradient(to right, #fc00ff, #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-link .nav-item:hover {
	background: #ff9472;
	color: #FFFFFF;
}

.nav-link{
	display: flex;
	list-style: none;
	width: 50%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	margin-left: auto;
}
.nav-link li a{
	color:#363636;
	text-decoration: none;
	font-size: 1.5em;
	font-family: 'Acme', sans-serif;	
	text-transform: uppercase;
}
@media screen and (max-width: 768px){
	.line{
		width: 30px;
		height: 3px;
		background: black;
		margin: 5px;
	}
	nav {
		position: relative;
	}
	.hamburger{
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		z-index: 2;
	}
	.nav-link{
		position: fixed;
		background: #83a4d4; /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #83a4d4, #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
  		background: linear-gradient(to right, #83a4d4, #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -10%);
		-webkit-clip-path:circle(100px at 90% -15%);
		transition: all 1s ease-out; 
		pointer-events: none;
	}
	.nav-link.open{
		clip-path: circle(1200px at 90% -10%);
		-webkit-clip-path:circle(1200px at 90% -10%);
		pointer-events: all;
	}
	.landing{
		flex-direction: column;

	}

	
}
.row1 {
	font-size: 2.3em;
	margin-left: 50px;
	font-family: 'Trade Winds', cursive;
	color:#ffd194 ;
	line-height: 20px;
	letter-spacing: 0.1em;
}
.trad {
	font-size: 1.85em;
	margin-left: 80px;
	font-family: 'Kaushan Script', cursive;
}


.row2 {
	background: no-repeat;
	padding:150px 0 250px;
	background-size: cover;
}
#pageintro .heading {
	font-size:5rem;
	margin-bottom:20px;
	text-transform: uppercase;
	color: #262626;
	text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
	font-family: 'Oleo Script', cursive;
	letter-spacing: 0.1em;
}	
#pageintro h3:first-of-type{
	margin-top: 10%;
}
#pageintro article{
	color:  white;
	text-align:center; 
	margin:0 auto;
	font-size: 200px;
	font-weight: 800;
}
#pageintro p:first-of-type{
	margin:0 0 20px 0; 
	text-transform:uppercase; 
	font-size:2.1rem;
	color: white; 
	font-family: 'Oleo Script', cursive;
	letter-spacing:5px;
	font-weight: 500;
	text-align:center;
	 text-shadow: 2px 0 0 #262626, -2px 0 0 #262626, 0 2px 0 #262626, 0 -2px 0 #262626, 1px 1px #262626, -1px -1px 0 #262626, 1px -1px 0 #262626, -1px 1px 0 #262626;
}
#pageintro footer{
	margin-top:15%;
}


.choseus-section{
	background: #dc2424; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #dc2424, #4a569d); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to right, #dc2424, #4a569d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding-bottom: 70px;
}

.section-title {
	text-align: center;
	color: #ffffff;
}
.section-title span {
	color: #161616;
	font-size: 4em;
	text-transform: uppercase;
	margin-top: 20px;
	font-family: 'Grenze Gotisch', cursive;

}
.hedo {
	color: black;
}
.section-title h2{
	font-size: 2em;
	font-family: 'Acme', sans-serif;
	letter-spacing: 2px;
}

.cs-item {
	text-align: center;
	margin-bottom: 30px;

}

.cs-item h4 {
	color: #262626;
	font-size: 2.5em;
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 16px;
	text-transform: uppercase;
	font-family: 'Faustina', serif;
}
.cs-item p {
	font-size: 1.5em;
	color: white;
	font-family: 'Kaushan Script', cursive;
	letter-spacing: 2px;
	margin: auto 50px;
}


.container.gallery-container {
    background-color: #dfdfdf;
    color: #35373a;
    min-height: 100vh;
    margin-top: 0.2%;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 4em;
    letter-spacing: 0.1em;
}
.gallery-container i {
	color:black;
}
.gallery-container p.page-description {
    text-align: center;
    line-height: 0;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-weight: 800;
    font-size: 1.7em;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 0.1em;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}
.fabs {
	background: #dae2f8; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #dae2f8, #d6a4a4); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to right, #dae2f8, #d6a4a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gettouch-section {
	background: #DC2424;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 30px 0 15px;
}

.gt-text {
	overflow: hidden;
	margin-bottom: 30px;
}

.gt-text i {
	font-size: 30px;
	color: #fff;
	display: inline-block;
	height: 65px;
	width: 65px;
	background: #2a2a2a;
	border-radius: 50%;
	line-height: 65px;
	text-align: center;
	float: left;
	margin-right: 20px;
}

.gt-text p {
	overflow: hidden;
	color: #ffffff;
	margin-bottom: 0;
	padding-top: 10px;
}

.gt-text ul {
	overflow: hidden;
	padding-top: 20px;
}

.gt-text ul li {
	list-style: none;
	font-size: 14px;
	color: #ffffff;
	margin-right: 25px;
	display: inline-block;
	position: relative;
}

.gt-text ul li:after {
	position: absolute;
	right: -18px;
	top: 0;
	content: "|";
	color: #545454;
}

.gt-text ul li:last-child {
	margin-right: 0;
}

.gt-text ul li:last-child:after {
	display: none;
}

.gt-text.email p {
	padding-top: 20px;
	font-size: 15px;
}

.footer-section {
	background: #262626;
	padding-top: 50px;
}

.fs-about {
	margin-bottom: 20px;
}

.fs-about p {
	line-height: 26px;
	color: #c4c4c4;
}
.fs-about .fabs {
	background:  #262626;
	color: #f36100;
	font-size: 2em;
	font-family: 'Faster One', cursive;
	letter-spacing:0.2em;
}

.fs-about .fa-social a {
	font-size: 15px;
	color: #c4c4c4;
	margin-right: 10px;
}

.fs-about .fa-social a:last-child {
	margin-right: 0;
}

.fs-widget {
	margin-bottom: 30px;
}

.fs-widget h4 {
	color: #ffffff;
	font-weight: 600;
	margin-bottom: 18px;
}
.fs-widget #dam {
	margin-left: 25px;
}
.fs-widget #dams {
	margin-left: 22px;
}

.fs-widget ul li {
	list-style: none;
}

.fs-widget ul li a {
	font-size: 14px;
	color: #c4c4c4;
	line-height: 30px;
}

.fs-widget .fw-recent {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #1a1a1a;
}

.fs-widget .fw-recent:last-child {
	padding-bottom: 0;
	border: none;
}

.fs-widget .fw-recent h6 {
	margin-bottom: 6px;
}

.fs-widget .fw-recent h6 a {
	color: #c4c4c4;
	letter-spacing: 0.5px;
}

.fs-widget .fw-recent ul li {
	font-size: 12px;
	color: #9f9f9f;
	display: inline-block;
	margin-right: 25px;
	position: relative;
}

.fs-widget .fw-recent ul li:last-child:after {
	display: none;
}

.fs-widget .fw-recent ul li:after {
	position: absolute;
	right: -16px;
	top: 0;
	content: "|";
	color: white;
}

.copyright-text {
	font-size: 14px;
	color: #c4c4c4;
	letter-spacing: 0.5px;
	border-top: 1px solid #fafafa;
	padding: 25px 0;
	margin-top: 15px;
}

.copyright-text a,
.copyright-text i {
	color: #f36100;